.page-community {
  .layout-basic {
    margin: 0 auto;
    max-width: 1200px;
  }
  .page-title {
    text-align: center;
    padding: $spring-8points * 6 0;
    h1 {
      margin: 0;
      padding: 0;
      padding-bottom: $spring-8points * 2;
    }
    p {
      margin: 0;
      padding: 0;
    }
  }
  .page-colset {
    display: flex;
    article {
      flex: 1;
      margin: 0 $spring-8points;
      background: $spring-gray-color;
      padding: $spring-8points * 5 $spring-8points;
      text-align: center;
      @include effect-box(1.02, $spring-transition-duration);
      position: relative;
      padding-bottom: 90px;

      h2 {
        margin: 0;
        padding: 0;
        padding-bottom: $spring-8points * 1.5;
        font-size: 22px;
        font-weight: 400;
        strong {
          font-weight: 600;
        }
      }

      p {
        padding: 0;
        margin: 0;
        color: #666666;
        max-width: 230px;
        margin: 0 auto;
        &.social {
          padding-top: $spring-8points * 3;
          position: absolute;
          bottom: 35px;
          left: 0;
          right: 0;
          a {
            color: $spring-color;
            padding: 2px;
            cursor: pointer;
            margin: 0 $spring-8points/2;
            @include transition(all $spring-transition-duration);
            svg {
              height: 22px;
            }
            &:hover {
              color: $spring-link-color;
            }
          }
        }
      }
      &:hover {
        cursor: default;
      }
    }
  }

  p {
    color: #666;
    &.love {
      color: $spring-color;
      font-size: 18px;
      font-weight: bold;
      padding-top: $spring-8points;
    }
  }

  div.more {
    text-align: center;
    padding: $spring-8points * 6 0;
    p {
      padding: 0;
      margin: 0;
    }
    strong {
      color: $spring-color;
    }
  }

  .page-footer {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    color: #666666;
    padding: $spring-8points * 5 0;
    p {
      padding: 0;
      margin: 0;
    }
    .icon-spring {
      $s: 60px;
      color: $spring-link-color;
      width: $s;
      height: $s;
      margin: $spring-8points * 2 0 $spring-8points * 4 0;
    }
  }

  .contributors {
    @include clearfix;
    padding: $spring-8points * 3 $spring-8points * 4;
    margin-top: $spring-8points * 5;
    padding-top: $spring-8points * 6;
    border-top: 1px solid darken($spring-gray-color, 2);
    .contributors-list {
      line-height: 0px;
      a {
        display: inline-block;
        padding: $spring-8points/2;
        img {
          width: 60px;
          border-radius: 30px;
          @include transition(all $spring-transition-duration);
          opacity: 0.8;
        }
        &:hover {
          img {
            transform: scale(1.1);
            opacity: 1;
          }
        }
      }
    }
  }

  .box {
    width: 950px;
    margin: 0 auto;
    //border: 1px solid darken($spring-gray-color, 4);
    padding: $spring-8points * 2 $spring-8points * 5;
    margin-bottom: $spring-8points * 6;
    box-shadow: 0 2px 6px 0 rgba($spring-color, 0.1);
    a.button {
      @include button-dark($spring-primary-color, white, $spring-8points * 2);
    }
    h2 {
      padding: 0;
      margin: 0;
      font-weight: 200;
      font-size: 26px;
      strong {
        font-weight: 600;
      }
    }
    p {
      padding: 0;
      padding-bottom: $spring-8points;
    }
  }

  .zenhub {
    min-height: 320px;
    border-radius: $spring-radius;
    padding-top: $spring-8points;
    color: #666;
    h2 {
      color: $spring-color;
    }
    .zenhub-content {
      position: relative;
      margin: 0 auto;
      padding-right: 450px;
      padding-top: $spring-8points * 8;
      padding-left: $spring-8points * 3;
    }
    .image {
      position: absolute;
      right: 0;
      top: 0;
      width: 380px;
      .icon-zenhub {
        position: absolute;
        top: 13px;
        right: 25px;
        border-radius: 30px;
        padding: 12px;
        background: #5e60ba;
        z-index: 88;
      }
    }
  }
}
