.home-page {
  .header {
    border-bottom: 0;
    background: $spring-gray-color;
  }

  main {
    .band {
      position: relative;
      background: $spring-gray-color;

      .container {
        max-width: 1300px;
        margin: 0 auto;
        position: relative;
        height: 450px;
      }
      .text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-top: -50px;

        width: 600px;
        p {
          padding: $spring-8points * 2 0;
          margin: 0;
          &.description {
            color: #666;
            padding: $spring-8points * 2 0 0 0;
            font-size: 20px;
            strong {
              color: $spring-color;
              font-weight: normal;
            }
            a {
            }
          }
        }
      }
      .image {
        width: 550px;
        position: absolute;
        top: -30px;
        right: 50px;
      }
    }

    a.button {
      @include button-dark($spring-primary-color, white, $spring-8points * 2);
    }

    .colset {
      display: flex;
      max-width: 1400px;
      margin: 0 auto;
      padding-top: $spring-8points;
      padding-bottom: $spring-8points * 6;
      .col {
        flex: 1;
        margin-left: $spring-8points * 4;
        background: $spring-gray-color;
        @include effect-box(1.02, $spring-transition-duration);
        cursor: default;
        &.col-1 {
          margin-left: 0;
        }
        &.col-2 {
        }
        &.col-1,
        &.col-3 {
          margin-top: $spring-8points * 2;
          margin-bottom: $spring-8points * 2;
        }
      }
      article {
        padding: 40px;
        text-align: center;
        h2,
        p {
          margin: 0;
          padding: 0;
        }
        h2 {
          font-size: 20px;
        }
        p {
          padding-top: $spring-8points * 2;
        }
      }
    }
  }
}
