$spring-8points: 8px;

$spring-background: #fff;

$spring-color: #394133;
$spring-primary-color: #6db33f;
$spring-link-color: #6db33f;
$spring-gray-color: #f8f9f8;
$spring-dark-color: #98a390;

$spring-border-color: #cfd4cb;
$spring-border-color-hover: #bfc5ba;

$spring-font-size: 16px;
$spring-font-size-sm: 14px;

$spring-font-family: Karla, sans-serif;
$spring-font-family-special: 'Source Sans Pro', Arial;

$spring-radius: 4px;
$spring-transition-duration: 0.15s;

$spring-sidebar-width: $spring-8points * 35;
