
$spring-8points: 8px;

$spring-background: #FFF;

$spring-color: #222;
$spring-primary-color: #68bd45;
$spring-link-color: #008aff;
$spring-gray-color: #f8f8f8;
$spring-dark-color: #7d8183;

$spring-border-color: #e4e4e4;
$spring-border-color-hover: #d3d3d3;

$spring-font-size: 16px;
$spring-font-size-sm: 14px;

$spring-font-family: Karla, sans-serif;
$spring-font-family-special: 'Source Sans Pro', Arial;

$spring-radius: 4px;
$spring-transition-duration: .15s;

$spring-sidebar-width: $spring-8points * 35;