name: Prod Build and Deploy

on:
  workflow_dispatch:

env:
  CF_API: ${{ secrets.PCFONE_API }}
  CF_ORG: ${{ secrets.PCFONE_ORG }}
  CF_SPACE: ${{ secrets.PCFONE_SPACE }}
  CF_USERNAME: ${{ secrets.PCFONE_BUILDS_USERNAME }}
  CF_PASSWORD: ${{ secrets.PCFONE_BUILDS_PASSWORD }}
  ALGOLIA_ADMIN_KEY_PASSWORD: ${{ secrets.ALGOLIA_ADMIN_KEY_PASSWORD }}
  GOOGLE_TAGMANAGER_ID: ${{ secrets.GOOGLE_TAGMANAGER_ID_SCDF }}

jobs:
  # build and deploy staging
  build:
    name: Build site
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      # agent may give node which doesn't work for us
      - uses: actions/setup-node@v2
        with:
          node-version: 18.8.0

      # setup cf cli with bg plugin and login
      - uses: jvalkeal/setup-cf-cli@v0
        with:
          version: 6.51.0
          plugin-repo: https://plugins.cloudfoundry.org
          plugin-id: blue-green-deploy
          login: true

      # do site build and prepare for cf push
      - name: Yarn build
        run: |
          yarn install
          yarn run fix
          yarn build
          yarn run prepare-cf-push

      # do cf blue/green deploy
      - name: CF Prod Deploy
        run: cf blue-green-deploy dataflow-website -f manifest.yml --smoke-test ./blue-green-smoke.sh --delete-old-apps
